.input {
  height: 3rem;
  width: 50vw;

}

.input-div {
  display: flex;
  justify-content: space-between;
}

.btn-add-member {
  width: 20vw;
}

.name {
  width: 15vw;
}

.email {
  width: 40vw;
}

.action {
  width: 5vw;

}
